################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.user
*.dacpac
*.pdb
*.cache
/Barchart/Barchart.dbmdl
/Barchart/Barchart.jfm
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*/obj/Debug/*
