################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Graph/bin/Debug/netcoreapp2.1
/Graph/obj
*.user
*.dacpac
*.dll
*.pdb
/Barchart/obj/Debug
/Barchart/bin/Debug
/Barchart/Barchart.dbmdl
/Barchart/Barchart.jfm
