################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.user
*.dacpac
*.pdb
*.cache
/Barchart/Barchart.dbmdl
/Barchart/Barchart.jfm
*/bin/Debug/*
*/obj/Debug/*
*/obj/*
/DA/obj/Debug/netstandard2.0/DA.csproj.AssemblyReference.cache
/JobController/obj/Debug/net7.0/JobController.csproj.AssemblyReference.cache
